*{
	padding:0;
	margin:0;
}
ul,ol,li{
	list-style:none;
}
a{
	text-decoration: none;
}
/*头开始*/
.cover{
	width: 100%;
	height: 115px;
	background-color: #fff;
	z-index: 5;
}
.header{
	width: 1180px;
	height: 115px;
	margin:0 auto;
	background-color: #fff;
}
/*上*/
.first{
	width: 1180px;
	height: 30px;
	margin:0 auto;
}
.one1{
	margin-right: 390px;
	font-size: 12px;
	color: #c5c5c5;
}
.one2{
	margin-left: 15px;
}
.one3{
	font-size: 12px;
	color: #c5c5c5;
	margin-left: 15px;
}
.one3 a{
	line-height: 25px;
	font-size: 12px;
	color: #c5c5c5;
	
}
.one3 a:hover{
	color: #f3682f;
	
}
.one4{
	font-size: 12px;
	color: #c5c5c5;
	margin-left: 15px;
	background: url(../img/one_07.png) no-repeat left center;
}
.one4 a{
	line-height: 25px;
	font-size: 12px;
	padding-left: 20px;
	color: #c5c5c5;
}
.one4 a:hover{
	color: #f3682f;
	
}
.one5{
	font-size: 12px;
	color: #c5c5c5;
	margin-left: 15px;
	background: url(../img/dingdan.jpg) no-repeat left center;
}
.one5 a{
	line-height: 25px;
	font-size: 12px;
	padding-left: 15px;
	color: #c5c5c5;
}
.one5 a:hover{
	color: #f3682f;
	
}
.one6{
	font-size: 12px;
	color: #c5c5c5;
	margin-left: 15px;
	background: url(../img/phone.png) no-repeat left center;
}
.one6 a{
	line-height: 25px;
	font-size: 12px;
	padding-left: 15px;
	color: #c5c5c5;
}
.one6 a:hover{
	color: #f3682f;
	
}
.one7{
	font-size: 12px;
	color: #c5c5c5;
	margin-left: 15px;
	background: url(../img/gouwuche.jpg) no-repeat left center;
}
.one7 p{
	line-height: 25px;
	font-size: 12px;
	margin-left: 25px;
	color: #c5c5c5;
}
.one7 p span{
	color: #fbab8a;
	padding-left: 5px;
}
.one7 p:hover{
	color: #f3682f;
	
}
.first li{
	float: left;
}
/*中*/
.second{
	width: 1180px;
	height: 80px;
	margin:0 auto;
}
.logo{
	float: left;
}
.ban{
	width: 590px;
	height: 70px;
	margin-top: 15px;
	margin-left: 100px;
	float: left;
}
.ban ul{
	float: left;
	margin-top: 10px;
}
.ban ul li{
	float: left;
    font-size: 11px;
    font-weight: lighter;
    padding:0 8px;
    border-right: 1px solid #c5c5c5;
}
.ban ul li:last-child{
	 border-right:none;
}
.red{
	 color:red;
}
.black{
	color:#000;
}
.blue{
	color: #a2a29d;
}
.key{
	width: 500px;
    height: 35px;
    border: 2px solid #f3682f;
    text-indent: .5em;
    float: left;
}
.sousuo{
	height: 38px;
    width: 80px;
    border: 2px solid #f3682f;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    float: left;
    background: #f3682f;
}
.three{
	width: 258px;
	height: 65px;
	float: left;
	margin-left: 85px;
	margin-top: 15px;
}
.three li{
	width: 84px;
	height: 35px;
	border:1px solid #c5c5c5;
	border-radius: 3px;
	float: left;
}
.phone img{
	padding-left: 25px;
}
.phone p{
	font-size: 10px;
	color: #c5c5c5;
}
.email img{
	padding-left: 25px;
}
.email p{
	font-size: 10px;
	text-indent: .5em;
	color: #c5c5c5;
}
.problem{
	background-color:#fb733b;
}
.problem img{
	padding-left: 5px;
	padding-top: 10px;
	float: left;
}
.problem p{
	padding-top: 10px;
	font-size: 11px;
	color: #fff;
}
/*下*/
.nav {
	height: 50px;
	width: 100%;
	background-color: #1c1c1b;
}
.third{
	height: 50px;
	width: 1180px;
	margin:0 auto;
}
.third ul{
	height: 50px;
	width: 1180px;
	margin:0 auto;
}
.third ul li{
	float: left;
	width: 80px;
	line-height: 50px;
	text-align: center;
	margin-right: 45px;
}
.third a{
	font-size: 14px;
	color: #fff;
}
.third >ul>li:hover{
	background: #f33d75;
	line-height:50px;
	width: 80px;
}
.third >ul>li:last-child{
	height: 40px;
	width: 180px;
	margin-right: 0;
}
.third >ul>li:last-child:hover{
	background: #1c1c1b;
}
/*头结束*/
/*中间开始*/
.center{
	width: 100%;
	height:780px;
	background-color: #f7f6f2;
}
.content{
	width: 1180px;
	height: 780px;
	background-color: #f7f6f2;
	margin:0 auto;
}
.center1{
	width: 1180px;
	height: 40px;
	margin:0 auto;
}
.center1 p{
	line-height: 40px;
	text-align: center;
	float: left;
	font-family: 微软雅黑;
    font-size: 12px;
    color: rgb(51, 50, 50);
}
.center2{
	width: 1180px;
	height: 630px;
}
.left1{
	height: 630px;
	width: 990px;
	margin-right: 10px;
	float: left;
	background-color: #fff;
}
.left11{  
	height: 630px;
	width: 445px;
	float: left;
}
/*放大镜*/
#box{
	width:410px;
	height:410px;
	position:relative;
	margin:10px 10px;
	border: 1px solid #888;
}
#imgdd{
	position: absolute;
	left: 410px;
	top: -1px;
	width: 410px;
	height: 410px;
	border: 1px solid #888;
	overflow: hidden;
	display: none;
}
#imgss{
	width:410px;
	height:410px;
	border:1px solid #fff;
}

#slider{
	width:100px;
	height:100px;
	position:absolute;
	left:0;
	top:0;
	background:#000;
	opacity:0.5;
	cursor: move;
	display:none; 
	filter:alpha(opacity=40);
}
#Bimg1{
	position:absolute;
	left:0;
	top:0;
	width: 1680px;	
	height: 1680px;	
}
#Bimg2{
	position:absolute;
	left:0;
	top:0;
	width: 1680px;	
	height: 1680px;	
}
/*小图*/
.left11b{
	width: 410px;
	height: 60px;
	margin:10px 10px;
	position: relative;
}
.left11b>span{
	position: absolute;
}
.xiao1{
	display: block;
	float: left;
	margin-left: 30px;
	border:1px solid #f3682f;
}
.xiao2{
	float: left;
	margin-left: 10px;
}
.left12{
	height: 590px;
	width: 530px;
	margin:15px 0;

	float: left;
}
#left{
	position: absolute;
	left: 0px;	
}
#right{
	left: 390px;
}
.pen{
	font-size: 12px;
	line-height: 20px;
	color:#c5c5c5; 
}
.mon{
	height: 30px;
	margin-top: 20px;
	margin-left: 10px;
}
.mon>p{
	float: left;
	font-size: 12px;
	margin-right: 20px;
}
.add{
	height: 30px;
	margin-left: 10px;
}
.add>p{
	float: left;
	font-size: 12px;
	margin-right: 10px;
}
.boxx{
	width: 500px;
	height: 45px;
	background-color: #edecea;
}
.vip1{
	height: 20px;
	width: 55px;
	margin-left: 10px;
	margin-top: 15px;
	border-radius: 2px;
	float: left;
	border:1px solid #fa2b64;
}
.vip1>p{
	float: left;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
}
.te1{
	margin-left: 100px;
	margin-top: 15px;
	line-height: 20px;
	font-size: 12px;
	float: left;
	color: #797776;
}
.contents{
	height: 65px;
	width: 530px;
}
.contents-1{
	font-size: 13px;
	line-height: 55px;
	margin-left: 20px;
	margin-right: 15px;
	margin-bottom: 10px;
	float: left;
	color: #333233;
}
.contentsOne{
	line-height: 30px;
	font-size: 13px;
	margin:15px 20px;
	float: left;
	color: #333233;
}
.contentsOne p{
	float: left;
}
.cp1{
	width: 60px;
	height: 30px;
	left: 100px;
	border:1px solid #fa2b64;
	text-align: center;
	background:url(../img/../img/duigou.png) no-repeat bottom right ; 
}
.contentsTwo{
	line-height: 30px;
	font-size: 13px;
	margin:15px 20px;
	float: left;
	color: #333233;
}
.contentsTwo p{
	float: left;
}
.number{
	height: 40px;
	width: 530px;
}
.ding{
	line-height: 30px;
	font-size: 13px;
	margin: 5px 20px;
	color: #333233;
	float: left;
}
.choice2{
	width: 105px;
	height: 30px;
	margin-left: 60px;
	float: left;
	margin-top: 5px;
	border: 1px solid #d1cecd;
}
.dec{
	width: 25px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.cnt{
	width: 50px;
	height: 27px;
	float: left; 
	text-align: center;
	
}
.add1{
	height: 30px;
	width: 25px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	float: left;
}
.jian{
	line-height: 30px;
	float: left;
	font-size: 13px;
	margin: 5px 20px;
	color: #333233;
}
.sale{
	height: 30px;
	width: 530px;
}
.sale>p{
	margin:5px 20px;
	font-size: 13px;
	float: left;
	color: #cdc3c5;
}
.buy{
	height: 40px;
	width: 530px;
}
.once{
	height: 40px;
	width: 150px;
	line-height: 40px;
	float: left;
	margin-left: 10px;
	text-align: center;
	font-size: 14px;
	color: #fa2b64;
	background-color: #fff;
	border: 1px solid #fa2b64;
	border-radius: 3px;
}
.bought{
	height: 40px;
	width: 150px;
	line-height: 40px;
	float: left;
	margin-left: 20px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-color: #fa2b64;
	border: none;
	border-radius: 3px;
}
.choice{
	height: 50px;
	width: 530px;
}
.choice>p{
	line-height: 50px;
	margin-left: 80px;
	font-size: 13px;
	float: left;
	color: #333233;
}
.choice>div{
	line-height: 50px;
	margin-left: 20px;
	font-size: 13px;
	float: left;
	color: #fbb046;
}
.right1{
	height: 620px;
	width: 180px;
	float: left;
	background-color: #fff;
}
.biglogo1{
	width: 1180px;
	height: 110px;
	margin:0 auto;
}
/*中间结束*/
/*尾开始*/
.bottom{
	width: 100%;
	height: 345px;
	background-color: #fff;
}
.under1{
	height: 181px;
	width: 1180px;
	margin:0 auto;
	border-bottom: 1px solid #d1cecd;
}
.login{
	float: left;
	margin-right: 75px;
}
.list1{
	height: 163px;
	width: 780px;
	float: left;
}
.list1 ul{
	float: left;
	margin-top: 20px;
	margin-right: 55px;
}
.ma{
	margin-top: 20px;
	float:left;
	
}
.li1{
	line-height: 35px;
}
.li2{
	line-height: 25px;
	font-size: 12px;
	color: #605f5d;
}
.under2{
	height: 163px;
	width: 1180px;
	margin:0 auto;
}
.under2 ul{
	padding-top: 20px;
	display: inline-block;
}
.under2 li{
	float: left;
    font-size: 12px;
    padding: 0 15px;
    color: #605f5d;
    font-family: "微软雅黑";
    border-right: 1px solid #d1cecd;
}       
.font{
	font-size: 12px;
    font-family: "微软雅黑";
	color: #d1cecd;
	line-height:25px;
	text-align: center;
}
.last{
	margin:0 auto;
}
.last img{
	float: left;
	margin-right: 5px;
}
.f{
	margin-left: 200px;
}
.u{
	padding-top: 10px;
}
/*尾结束*/
/*蒙罩*/
.overlay{
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #dedcd8;
	opacity:.80;
	z-index: 6;
}
.mengzhao{
	display: none;
	position: fixed;
	left:400px;
	top:300px;
	width:400px;
	height:220px;
	border:3px solid #de9ff2;
	background-color: white;
	z-index: 7;
}
.wai{
	position: relative;
}
.cap2{
	border:1px solid #f42c6a;
	width:150px;
	height:40px;
	float:left;
	margin:5px 15px;
	color: #f42c6a;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	background-color: #fff;
}
.cap3{
	border:1px solid #f42c6a;
	width:150px;
	height:40px;
	float:left;
	margin:5px 15px;
	text-align: center;
	color: #fff;
	line-height: 40px;
	border-radius: 3px;
	background-color: #f42c6a;
}